@import-normalize; /* bring in normalize.css styles */

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}

/* FOR REACT COLLAPSE */
.ReactCollapse--collapse {
  transition: height 500ms;
}

/* FOR CSSTRANSITION */
.buttons-enter {
  height: 0px;
  opacity: 0;
}
.buttons-enter-active {
  height: 90px;
  opacity: 1;
  transition: opacity 200ms linear 100ms, height 200ms;
  -webkit-transition: opacity 200ms linear 100ms, height 200ms;
  -moz-transition: opacity 200ms linear 100ms, height 200ms;
  -ms-transition: opacity 200ms linear 100ms, height 200ms;
  -o-transition: opacity 200ms linear 100ms, height 200ms;
}
.buttons-exit {
  height: 90px;
  opacity: 1;
}
.buttons-exit-active {
  height: 0;
  opacity: 0;
  transition: height 200ms linear 100ms, opacity 200ms;
  -webkit-transition: height 200ms linear 100ms, opacity 200ms;
  -moz-transition: height 200ms linear 100ms, opacity 200ms;
  -ms-transition: height 200ms linear 100ms, opacity 200ms;
  -o-transition: height 200ms linear 100ms, opacity 200ms;
}
